.footer
  .p 
    span © 2018 - 2019 
    i.fa.fa-star
    span  Autokaka
  .busuanzi(style='margin-top: -0.5em; margin-bottom: -0.5em;')
    script(async='', src='//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js')
    span
      | 本站总访问量
      span#busuanzi_value_site_pv
      | 次
  .by_farbox(style='margin-bottom: -1em')
    a(href="https://hexo.io/zh-cn/", target="_blank") Powered by Hexo. 
    a Theme by Anatole
    